
<div class="row">
    <div class="col m6">
        <div class="card blue-grey darken-1">
            <div class="card-content">
                <span class="card-title">the products: Attention il faut maintenant se logger  via demo DI pour pouvoir accéder au produit</span>
                <table *ngIf="isConnected" class="tripped black-text">
                    <thead>
                        <th></th>
                        <th appHighlightforexos3> Nom</th>
                        <th appHighlightforexos3> description</th>
                        <th> prix HTVA</th>
                    </thead>
                    <tbody>
                        <!-- <div class="parallax"><img src="assets/1.png" alt="Unsplashed background img 1"></div> -->
                        <tr *ngFor= "let produit of productList">
                            <td><img src="{{produit.imageLink}}" style="width:50px;height:50px" alt="Unsplashed background img 1"> </td>
                            <td appHighlightforexos3>{{produit.name}}</td>
                            <td>{{produit.desc}}</td>
                            <td>{{produit.price}}</td>
                            <td><button (click)="addInChar(produit.name, produit.price)">add</button></td>
                            <td><button (click)="removeFromChar(produit.name,produit.price)">remove</button></td> 
<!-- je sais pas  -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col m6">
        <div class="card blue-grey darken-1">
            <div class="card-content">
                <span class="card-title">my wallet</span>
                <table class="tripped black-text">
                    <thead>
                        <th> Nom</th>
                        <th> description</th>
                        <th> prix HTVA</th>
                    </thead>
                    <tbody>
                        <tr *ngFor= "let produit of myWallet">
                            <th>{{produit.name}}</th>
                            <th>{{produit.quantity}}</th>
                            <th>{{produit.price}}</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <p> cout TVA : {{VAT|number :"1.2-2"}}</p>
        <p>total price : {{totPirce| number : "1.2-2"}} </p>
    </div>


    <div  class="col m12">
        <button appExo3onclick id>clickme</button>
        <div id = "animation">
        </div>
    </div>
  
</div>
