<li>
    {{id_person}} - {{firstName_person}} - {{lastName_person}} - {{email_person}} -{{gender_person}}
    <button (click)="deleteUser(id_person)" class="btn red">Delete User</button>
    <button (click)="updateUser(firstName_person)" class="btn green"> UpdateUser</button>
    <input type ="text" *ngIf="triggerUpdateName" class="input-field col s12" placeholder="new name" [(ngModel)] ="newUserName">
    <br>
    <button (click)="update(id_person)" *ngIf="triggerUpdateName"> Valider modification</button>
    <button (click)="cancelUpdate()" *ngIf="triggerUpdateName">Cancel</button>
</li>