<nav class="" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" class="brand-logo">Logo</a>
    <a *ngIf="isConnect" id="logo-container" class="brand-logo"><i style="font-size:40px;" class="material-icons">thumb_up</i></a>
    <a *ngIf="!isConnect" id="logo-container" class="brand-logo"><i style="font-size:40px;" class="material-icons">thumb_down</i></a>
    
    <ul class="right hide-on-med-and-down">
      <li class="tab"><span>&nbsp;&nbsp;&nbsp;{{ timeConnectUser }}&nbsp;&nbsp;&nbsp;</span></li>
      <li><a routerLink="">Home</a></li>
      <li><a routerLink="demos/di">Demo 11 : DI</a></li>
      <li><a routerLink="myStore/categ">myStore</a></li>
      <li><a style="width:250px;" class="dropdown-trigger" data-target="demosListExo">&nbsp;&nbsp;&nbsp;Exos&nbsp;&nbsp;&nbsp;<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a style="width:250px;" class="dropdown-trigger" data-target="demosList1">&nbsp;&nbsp;&nbsp;Demos&nbsp;&nbsp;&nbsp;<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a style="width:250px;" class="dropdown-trigger" data-target="demosList2">&nbsp;&nbsp;&nbsp;Demos&nbsp;&nbsp;&nbsp;<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>

    <ul id="nav-mobile" class="sidenav"></ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>



<!-- Dropdown Structure -->
<ul id="demosList1" class="dropdown-content">
  <li><a routerLink="demos/binding">Demo 1 : le binding</a></li>
  <li class="divider"></li>
  <li><a routerLink="demos/twowaybinding">Demo 2 : le two ways binding</a></li>
  <li class="divider"></li>
  <li><a routerLink="demos/four0four">Demo 3 : el famosso 404</a></li>
  <li class="divider"></li>
  <li><a routerLink="demos/event">Demo 4 : Les events bindings</a></li>
  <li class="divider"></li>
  <li><a routerLink="demos/propertymodel">Demo 5 : Le Model Property</a></li>
  <li class="divider"></li>
  <li><a routerLink="demos/pipes">Demo 6 : Le Pipes</a></li>
  <li class="divider"></li>
  <li><a routerLink="demos/cpipes">Demo 7 : Les Customs Pipes</a></li>
  <li class="divider"></li>
  <li><a routerLink="demos/strdirectives">Demo 8 : directives strucurelles</a></li>
  <li class="divider"></li>

</ul>

<ul id="demosList2" class="dropdown-content">
  <li><a routerLink="demos/attributedirectives">Demo 9 : attributes directives</a></li>
  <li class="divider"></li>
  <li><a routerLink="demos/attributescustom">Demo 10 : attributes directives custom</a></li>
  <li class="divider"></li>
  <li><a routerLink="demos/inputOutput">Demo 11 : parentsEnfants</a></li>
  <li class="divider"></li>
  <li><a routerLink="demos/di">Demo 11 : DI</a></li>
  <li class="divider"></li>
  <li><a routerLink="demos/lespromesses">Demo13 les promesses</a></li>
  <li class="divider"></li>
  <li><a routerLink="demos/asyncAwait">Demo14 AsyncAwait</a></li>
  <li class="divider"></li>
  <li><a routerLink="demos/httpclient">Demo15 httpclient</a></li>
  <li class="divider"></li>
  <li><a routerLink="demos/gardian">Demo16 les guardians</a></li>
  <li class="divider"></li>
  <li><a routerLink="demos/storage">Demo17 storage</a></li>
  <li class="divider"></li>
  <li><a routerLink="demos/routage">Demo18 routage</a></li>
  <li class="divider"></li>
  <li><a routerLink="categ">Demo19 routage categ</a></li>
  <li class="divider"></li>
  <li><a routerLink="demos/observables">Demo 20 les obeservables</a></li>
  <li class="divider"></li>
  <li><a routerLink="demos/reactiveForms">reactives form</a></li>

</ul>


<ul id="demosListExo" class="dropdown-content">
  <li><a routerLink="exos/calculette">Exos 1 : La calculette</a></li>
  <li class="divider"></li>
  <li><a routerLink="demos/exo2pipe">Exo2 les pipes</a></li>
  <li class="divider"></li>
  <li><a routerLink="exos/exos3lesboucles">Exo3 les boucles</a></li>
  <li class="divider"></li>
  <li><a routerLink="exos/exos3lesdirectives">Exo3 les directives</a></li>
  <li class="divider"></li>
  <li><a routerLink="exos/exos4inputoutput">Exo' inputoutput</a></li>
  <li class="divider"></li>
  <li><a routerLink="exos/shop">exo5 shopping</a></li>
  <li class="divider"></li>
  <li><a routerLink="exos/promesses">exo6 les promesses</a></li>
  <li class="divider"></li>
  <li><a routerLink="exos/apiperso">exo7 api waze</a></li>
  <li class="divider"></li>
  <li><a routerLink="exos/lesObservables">exo8 les observables</a></li>
  
</ul>