
<div class="row">

    <div class="col m6">
        <div class="card blue-grey darken-1">
            <div class="card-content">
                <span class="card-title">the products</span>
                <table class="tripped black-text">
                    <thead>
                        <th> Nom</th>
                        <th> description</th>
                        <th> prix HTVA</th>
                    </thead>
                    <tbody>
                        <tr *ngFor= "let produit of productList">
                            <td></td>
                            <td>{{produit.name}}</td>
                            <td>{{produit.desc}}</td>
                            <td>{{produit.price}}</td>
                            <td><button (click)="addInChar(produit.name, produit.price)">add</button></td>
                            <td><button (click)="removeFromChar(produit.name,produit.price)">remove</button></td> 

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col m6">
        <div class="card blue-grey darken-1">
            <div class="card-content">
                <span class="card-title">my wallet</span>
                <table class="tripped black-text">
                    <thead>
                        <th> Nom</th>
                        <th> description</th>
                        <th> prix HTVA</th>
                    </thead>
                    <tbody>
                        <tr *ngFor= "let produit of myWallet">
                            <th>{{produit.name}}</th>
                            <th>{{produit.quantity}}</th>
                            <th>{{produit.price}}</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <p> cout TVA : {{VAT}}</p>
        <p>total price : {{totPirce}} </p>
    </div>
</div>
